<div class = "card">
    <div class = "card-header">
        Agregar venta
    </div>
    <div class = "card-body">
       <form ngNativeValidate [formGroup] = "formularioDeVentas" (ngSubmit) = "enviarDatos()">
         

           <div class="mb-3">
            <label for = "" class= "form-label">Producto:</label>
            <select class="form-select" aria-label="Default select example" (change) = "precio()" formControlName = "idProducto" required>
              <option value = "0" selected="selected">Selecciona un producto</option>
              <option *ngFor="let producto of Productos; let iControl=index"  value="{{producto.idProducto}}">{{producto.nombre}} ${{producto.precio}}</option>
            </select>
            <label for = "" *ngIf = "cuenta" class= "text-primary">No hay cuentas disponibles para este producto</label> 
            <label for = ""  *ngIf = "!cuenta" class= "text-primary">Obligatorio</label>
          </div>

          
          <div class="mb-3">
            <label for = "" class= "form-label">Nombre del cliente: </label>
            <select class="form-select" aria-label="Default select example" (change) = "clienteSeleccionado()"  formControlName = "idCliente" required>
              <option value = "0" selected="selected">Selecciona un cliente</option>
              <option *ngFor="let cliente of Clientes; let iControl=index" value="{{cliente.idCliente}}">{{cliente.nombres}} {{cliente.apellidos}}</option>
            </select>
            <label for = "" class= "text-primary">Obligatorio</label>
          </div>

        

        <div class = "mb-3">
            <label for = "" class= "form-label" >Cantidad:</label>
            <input required type= "number" class= "form-control" formControlName = "cantidad" name = "" id = "" aria-describedby="helpId" placeholder = "Digite la cantidad">  
            <label for = "" class= "text-primary">Obligatorio</label> 
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Observación:</label>
            <input required type= "text" class= "form-control" formControlName = "observacion" name = "" id = "" aria-describedby="helpId" placeholder = "Observación">   
            <label for = "" class= "text-primary">Obligatorio</label>
            
        <div>
          <label for = "" *ngIf = "valor" class= "text-primary">Saldo menor a lo que se desea comprar</label>
        </div>
        </div>

        <div class = "btn-group" role= "group" aria-label = "">
          
            <button type= "button" *ngIf = "!cuenta && !valor && !selectProducto && !selectCliente" type = "submit" class= "btn btn-success">Agregar</button>
            <button type= "button" *ngIf = "cuenta || valor || selectProducto || selectCliente"  class= "btn btn-success" disabled>Agregar</button>
            
        </div>

      
        <div class = "btn-group grupo-boton-2" role= "group" aria-label = "">
          <button type= "button" routerLink = "/listar-venta" class= "btn btn-primary boton2">Cancelar</button>
        </div>
      



       </form>

    </div>

    <div class = "body" *ngIf = "abrirModal">
      <input type = "checkbox" id = "btn-modal">
      <div class="contenedor-modal">
        <div class="contenido-modal">
          <p>{{fecha}}</p>
          <h2>Gracias por tu compra</h2>
          <img src = "https://d1csarkz8obe9u.cloudfront.net/posterpreviews/blue-and-green-digital-corporation-logo-design-template-def0356f36181905b3efb4e69c3f1c6f_screen.jpg?ts=1561473585">
          <p class = "text-wrap">Es importante no cambiar correo, contraseña, <span>¡Recuerda!</span> utilizar solo un dispositivo por cada pantalla que compres, para que no pierdas la garantía del servicio.</p>
          <p>Producto: {{idProducto}}</p>
          <p>Cantidad: {{cantidad}}</p>
          <p class = "text-wrap">Fecha expiración: {{fechaExpiracion}}</p>
          <p>Servicio al cliente: +57 3168762928</p>
          <p>Atendido por: {{nombreVendedor}}</p>
          <p><i class="fas fa-envelope"></i>Correo: {{correoCuenta}}</p>
          <p><i class="fas fa-key"></i>Contraseña: {{contrasenaCuenta}}</p>
          <p><i class="fas fa-users"></i>Perfil: {{perfilCuenta}}</p>
          <p><i class="fas fa-key"></i>Ping: {{pingCuenta}}</p>

          <div class = "btn-cerrar" (click) = "cerrarModal()">
            <label for = "btn-modal">Cerrar</label>
          </div>
        </div>

      </div>
    </div>
</div>
