<div class = "card">
    <div class = "card-header">
        Editar cuenta
    </div>
    <div class = "card-body">
       <form ngNativeValidate [formGroup] = "formularioDeCuentas" (ngSubmit) = "enviarDatos()">
           <div class = "mb-3">
               <label for = "" class= "form-label">Correo:</label>
               <input required type= "text" class= "form-control" formControlName = "correo" name = "" id = "" aria-describedby="helpId" placeholder= "Correo de la cuenta">
           </div>

           <div class = "mb-3">
            <label for = "" class= "form-label">Contraseña:</label>
            <input required type= "text" class= "form-control" formControlName = "contrasena" name = "" id = "" aria-describedby="helpId" placeholder= "Contraseña de la cuenta">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Nombre del perfil: </label>
            <input required type= "text" class= "form-control" formControlName = "nombrePerfil" name = "" id = "" aria-describedby="helpId" placeholder= "Nombre del perfil de la cuenta">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Ping</label>
            <input required type= "text" class= "form-control" formControlName = "ping" name = "" id = "" aria-describedby="helpId" placeholder= "Ping de la cuenta">   
        </div>


        <div class = "btn-group" role= "group" aria-label = "">
            <button type= "button" type = "submit" class= "btn btn-success">Modificar</button>
            <button type= "button" routerLink = "/listar-cliente" class= "btn btn-primary">Cancelar</button>
        </div>

       </form>
    </div>
</div>
