<nav class = "navbar navbar-expand navbar-light bg-light">
  <div class = "nav navbar-nav">
    <a class = "nav-item nav-link active">Sistema<span class = "visually-hidden">(current)</span></a>
    <a class = "nav-item nav-link" *ngIf="logoutbtn" routerLink = "listar-cliente">Listar cliente</a>
    <a class = "nav-item nav-link" *ngIf="logoutbtn" routerLink = "listar-producto">Listar Producto</a>
    <a class = "nav-item nav-link" *ngIf="logoutbtn" routerLink = "listar-venta">Listar venta</a>
    <a class = "nav-item nav-link" *ngIf="logoutbtn" routerLink = "listar-cuenta">Listar cuenta</a>
    <a class = "nav-item nav-link" *ngIf="logoutbtn" routerLink = "listar-pantalla">Listar pantalla</a>
    <a class = "nav-item nav-link" *ngIf="logoutbtn" routerLink = "listar-vendedor">Listar vendedor</a>
    <a class = "nav-item nav-link" *ngIf="loginbtn"  routerLink = "login">Inicio de Sesión</a>
    <li class="nav-item">
      <button type="button" *ngIf="logoutbtn" class="btn btn-block" (click)="logout()">logout</button>
      </li>
  </div>
</nav>

<div class = "container">
  <router-outlet></router-outlet>
</div>
