.contenedor-tarjeta{
    margin-top: 10%;
    margin-left: 30%;
    margin-right: auto;
}
.card{
    width: 50%;
}

.contenedor-imagen{
    margin-left: 18%;
    margin-right: auto;
}

img{
    width: 100px;
    height: 100px;
   
}

button{
    margin-top: 5%;
    margin-bottom: 5%;
    margin-left: 20%;
    margin-right: auto;
}