


<div class = "contenedor-tarjeta">



<h2 class="text-center">Panel digital</h2>



<img src = "https://d1csarkz8obe9u.cloudfront.net/posterpreviews/blue-and-green-digital-corporation-logo-design-template-def0356f36181905b3efb4e69c3f1c6f_screen.jpg?ts=1561473585">
<form [formGroup]="angForm" (ngSubmit)="postdata(angForm)" autocomplete="off" >
    
      

<div class="grupo-formulario">
   
<label for="email" class = "labelCorreo">Correo: </label>
<input type="email" name="email" formControlName="email" autocomplete="off" class="form-control input-sm" placeholder="Correo">
</div>

<div class="form-group">
<label for="Password">Contraseña:</label>
<input type="password" name="Password" formControlName="password" autocomplete="off" class="form-control input-sm" placeholder="Contraseña">
</div>
<button type="submit" class="btn btn-info" >Ingresar </button>
</form>


</div>
