.card{
    width: 120%;
}

@media screen and (max-width: 1250px){
    .card{
      width: 180%;
    }
  }


  @media screen and (max-width: 970px){
    .card{
      width: 230%;
    }
  }

  @media screen and (max-width: 800px){
    .card{
      width: 300%;
    }
  }

  @media screen and (max-width: 480px){
    .card{
      width: 530%;
    }
  }

  @media screen and (max-width: 430px){
    .card{
      width: 730%;
    }
  }

  @media screen and (max-width: 280px){
    .card{
      width: 760%;
    }
  }