<div class = "card">
    <div class = "card-header">
        Agregar vendedor
    </div>
    <div class = "card-body">
       <form ngNativeValidate [formGroup] = "formularioDeVendedores" (ngSubmit) = "enviarDatos()">
           <div class = "mb-3">
               <label for = "" class= "form-label">Nombre:</label>
               <input required type= "text" class= "form-control" formControlName = "nombre" name = "" id = "" aria-describedby="helpId" placeholder= "Nombres del cliente">
           </div>

           <div class = "mb-3">
            <label for = "" class= "form-label">Nombre de usuario:</label>
            <input required type= "text" class= "form-control" formControlName = "nombreUsuario" name = "" id = "" aria-describedby="helpId" placeholder= "Apellidos del cliente">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Correo:</label>
            <input required type= "text" class= "form-control" formControlName = "correo" name = "" id = "" aria-describedby="helpId" placeholder= "Whatsapp del cliente">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Contraseña</label>
            <input required type= "text" class= "form-control" formControlName = "contrasena" name = "" id = "" aria-describedby="helpId" placeholder= "Fijo o Movil">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Número Telefónico</label>
            <input required type= "text" class= "form-control" formControlName = "numeroTelefono" name = "" id = "" aria-describedby="helpId" placeholder= "tuemail@ejemplo.com">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Empresa</label>
            <input required type= "text" class= "form-control" formControlName = "empresa" name = "" id = "" aria-describedby="helpId" placeholder= "tuemail@ejemplo.com">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Saldo</label>
            <input required type= "text" class= "form-control" formControlName = "saldo" name = "" id = "" aria-describedby="helpId" placeholder= "tuemail@ejemplo.com">   
        </div>

        <div class = "mb-3">
            <label for = "" class= "form-label">Créditos</label>
            <input required type= "text" class= "form-control" formControlName = "creditos" name = "" id = "" aria-describedby="helpId" placeholder= "tuemail@ejemplo.com">   
        </div>

        <div class = "btn-group" role= "group" aria-label = "">
            <button type= "button" type = "submit" class= "btn btn-success">Agregar</button>
            <button type= "button" routerLink = "/listar-vendedor" class= "btn btn-primary">Cancelar</button>
        </div>

       </form>
    </div>
</div>
